/*reset sizes */
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/*main styling */
html,body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.8rem;
}

a{
    color:#333;
    text-decoration:none;
}


h1,h2,h3{
    padding-bottom:20px;
}

p{
    margin:10px 0;

}
.btn{
    font-size:20px;
    color:#fff;
    background:#333;
    padding:13px 20px;
    border-radius:5px;
    cursor:pointer;
    border:none;
    display:inline-block;
}

.btn:hover{
    color:#fff;
    background:#f7c08a;
}

.bg-dark{
    background:#333;
    color:#fff;

}

.btn-light{
    background:#f7c08a;
    color:#333;
}
/*utiliti classes */
.container{
    margin:auto;
    max-width:1200px;
    padding:0 20px;
    overflow:auto;
}

.text-head{
    color:#9b663233;
}

/*navbar*/
#navbar{
    background:#333;
    color:white;
    overflow:auto;

}
#navbar a{
    color:white;

}
#navbar h1{
    float:left;
    padding-top:20px;
}


#navbar ul{
    list-style:none;
    float:right;

}

#navbar ul li{
    float:left;
}

#navbar ul li a{
    display:block;
    padding:20px;
    text-align:center;
}

.current{
    color:#ffff;
    background:#444;
}
#navbar ul li a:hover{
    color:#dae23fb6;
    background:#4444;
}

#showcase{
    background:url('../img/showcase.jpg') no-repeat center center/cover;
    height:600px;
}

#showcase .showcase-content{
    color:#fff;
    text-align:center;
    padding:170px;
}

#showcase .showcase-content h1{
    font-size:50px;
    line-height:1.3rem;
    padding-bottom:20px;

}

#showcase .showcase-content p{
    padding-bottom:20px;
    font-size:20px;
    line-height:1.6rem;

}
.text-primary{
    color:#f7c08a;
}



/*home info */
#home-info{
    height:400px;

}

#home-info .info-img{
    float:left;
    width:50%;
    background:url('../img/photo-1.jpg');
    min-height:100%;

}

#home-info .info-content{
    float:right;
    width:50%;
    text-align:center;
    padding:50px 30px;
}

/*footer*/

#footer-section{
    background:#333;
    color:#fff;
    text-align:center;
    padding:20px;
    margin-top:2px;

}

/*details-section*/
#det-container{
    width:32%;
    display:inline-block;
    box-sizing:border-box;
    margin-bottom:15px;
    padding:10px;
    text-align:center;
}


#det-container h1{
    color:#333;
    padding-top:8px;


}

#det-container p{
    font-size:12px;
    padding-bottom:9px;
}


/*About page  */

body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#about-section{
    background:#fff;
    height:200px;
    padding-top:15px;
    overflow:auto;
    height:250px;

}

.about-container{
    background:#fff;
    height:40px;
    text-align:center;
    width:50%;
    padding:15px;

}

#about-section .abt-img{
    background:url('../img/photo-2.jpg');
    width:50%;
    border-radius:50%;
    height:400x;
    padding:20px;
    float:right;


}

/*guest-container */
.guest-container{
    background:url('../img/test-bg.jpg');
    height:400px;
    overflow:auto;

}
.h1{
    color:#333;
    padding-top:40px;
    text-align:center;
}
.guest-container .head{
    color:#fff;
    text-align:center;
}

/*contact page */
body{
    background:#fff;
    line-height:1.3rem;

}
#contact-container{
    padding:15px;
    margin:3opx auto;
    max-width:400px
}
 #contact-container h1, .contact-container p{
    color:#333;
    padding-top:20px 25px;
    text-align:center;
    margin:20px;

}
#contact-container .contact-form label{
    display:block;
    padding:10 15px;

}

#contact-container .contact-form input{
    padding:10px;
    width:100%;
    border:2px #333 solid;
    border-radius:2px;
    margin:10 10px;
}

.contact-form .btn{
    color:#fff;
    background:#333;


}